*, *::before, *::after {
  box-sizing: border-box;
}

.main-container {
  min-height: 452px;
  max-width: 306px;
  border: 3px solid rgba(7, 59, 76, 0.08);
  margin: 150px auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 1px 1px;
  min-width: 225px;
}

.screen-container {
  max-width: 92%;
  height: 72px;
  border-radius: 6px;
  margin: 15px auto;
  background: rgb(199 242 255);
  box-shadow: 1px 1px #00000030;
}

.buttons-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
  max-width: 90%;
  height: 70%;
  margin: 0 auto;
}

.button-row {
  display: flex;
  gap: 6px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 62px;
  border-radius: 6px;
  font-family: "Source Sans Pro","Open sans", monospace, Arial;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.66);
  background: #eae7e780;
  border: none;
  box-shadow: 1px 1px #00000030;
}

.ac-btn {
  color: rgba(239, 71, 111, 0.88);
  font-weight: bold;
}

.funct-btn {
  background: rgba(255, 209, 102, 0.8196);
}

.equal-btn {
  background: rgba(6, 214, 160, 1);
  color: white;
}