*, *::before, *::after {
  box-sizing: border-box;
}

.main-container {
  min-height: 470px;
  max-width: 306px;
  border: 3px solid rgba(7, 59, 76, 0.08);
  margin: 150px auto;
  border-radius: 15px;
  box-shadow: 2px 2px #b3b3b3;
  min-width: 225px;
  background: #2e373f;
}

.screen-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 92%;
  height: 88px;
  border-radius: 6px;
  margin: 15px auto;
  background: rgb(223 226 227);
  box-shadow: 2px 2px #b3b3b3;
}

.result-span {
  font-family: "Source Sans Pro", "Open sans", monospace, Arial;
  font-size: 3.5rem;
  color: rgb(0 0 0);
  overflow: hidden;
  text-align: right; 
  padding: 0 3.2px;
}

.buttons-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
  max-width: 90%;
  height: 70%;
  margin: 0 auto;
}

.button-row {
  display: flex;
  gap: 6px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 62px;
  border-radius: 6px;
  font-family: "Source Sans Pro", "Open sans", monospace, Arial;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.66);
  background: #eae7e7;
  border: none;
  box-shadow: 2px 2px #b3b3b3;
}

.ac-btn {
  color: rgba(239, 71, 111, 0.88);
  font-weight: bold;
}

.funct-btn {
    background: rgb(255 209 102 / 97%);
}


.equal-btn {
  background: rgba(6, 214, 160, 1);
  color: white;
}